.side
  .side__header
    .side__header__box
      %p.side__header__box__name
        = current_user.name

      %ul.side__header__box__menu
        = link_to "#" do
          %li.side__header__box__menu__list
            = icon('fas', 'edit')
        = link_to edit_user_path(current_user) do
          %li.side__header__box__menu__list
            = icon('fas', 'cog', class: 'icon')

  .groups
    .group
      %p.group__name
        techcamp
      %p.group__message
        まだメッセージはありません
    .group
      %p.group__name
        dan
      %p.group__message
        一つの光が宇宙に飛んでいく
