.side
  .side__header
    .side__header__box
      %p.side__header__box__name
        = current_user.name

      %ul.side__header__box__menu
        = link_to new_group_path do
          %li.side__header__box__menu__list
            = icon('fas', 'edit', class:'icon')
        = link_to edit_user_path(current_user) do
          %li.side__header__box__menu__list
            = icon('fas', 'cog', class: 'icon')

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#', class: 'group' do
          %p.group__name
            = group.name
          %p.group__message
            まだメッセージはありません
